@charset "UTF-8";
html {
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  height: 100%;
  color: #444;
  background-color: #fbfbfb; }

.wrapper {
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 350px; }

input[type="file"] {
  display: none; }

h1, h2, h3, h4 {
  font-weight: bold; }

.marker {
  position: relative;
  z-index: 10; }
  .marker span::before {
    content: "";
    position: absolute;
    width: calc(100% / 2);
    transform: skew(-12deg) translateX(-2%);
    opacity: 0.5;
    z-index: -1; }
  .marker_h1::before {
    background-color: #fd7e14; }
  .marker_h2::before {
    background-color: #ffc107; }
  .marker_h3::before {
    background-color: #20c997; }
  .marker_h4::before {
    background-color: #0dcaf0; }

.compensate-for-scrollbar {
  margin-right: 0 !important; }

.border-all-teal {
  border: 2px solid #20c997 !important; }
.border-all-yellow {
  border: 2px solid #ffc107 !important; }
.border-all-red {
  border: 2px solid #dc3545 !important; }
.border-left-yellow {
  border-left: 4px solid #ffc107 !important; }
.border-left-teal {
  border-left: 4px solid #20c997 !important; }

.box-shadow:hover {
  box-shadow: 0 0 10px #ccc; }

.text-indigo {
  color: #6610f2; }
.text-orange {
  color: #fd7e14; }
.text-yellow {
  color: #ffc107; }
.text-teal {
  color: #20c997; }
.text-purple {
  color: #6f42c1; }
.text-gray-300 {
  color: #dee2e6; }
.text-gray-400 {
  color: #ced4da; }
.text-gray-500 {
  color: #adb5bd; }
.text-gray-600 {
  color: #6c757d; }

.bg-gray-100 {
  background-color: #f8f9fa; }
.bg-gray-200 {
  background-color: #e9ecef; }
.bg-gray-300 {
  background-color: #dee2e6; }
.bg-gray-600 {
  background-color: #6c757d; }
.bg-gray-800 {
  background-color: #343a40; }
.bg-indigo {
  background-color: #6610f2; }
.bg-purple {
  background-color: #6f42c1; }
.bg-cyan {
  background-color: #0dcaf0; }
.bg-green {
  background-color: #198754; }
.bg-blue {
  background-color: #0d6efd; }
.bg-orange {
  background-color: #fd7e14; }
.bg-red {
  background-color: #dc3545; }
.bg-pink {
  background-color: #d63384; }
.bg-yellow {
  background-color: #ffc107; }
.bg-teal {
  background-color: #20c997; }

.modal-footer-id {
  font-size: 12px;
  color: #ced4da;
  position: absolute;
  left: 15px; }

a:link,
a:visited,
a:hover {
  text-decoration: none;
  outline: none; }

.bbb {
  border: 1px solid red !important; }

.mt-60 {
  margin-top: 60px; }
.mt-120 {
  margin-top: 120px; }

.mb-60 {
  margin-bottom: 60px; }
.mb-120 {
  margin-bottom: 120px; }

.w-40 {
  width: 40px; }
.w-45 {
  width: 45px; }
.w-65 {
  width: 65px; }

.ml--15 {
  margin-left: -15px; }

.mt--2 {
  margin-top: -2px; }

.dotted {
  border-bottom: 2px dotted;
  cursor: help; }

.point {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 7px; }
  .point:first-child {
    margin-left: 3px; }
  .point_lg {
    height: 10px;
    width: 10px;
    border-radius: 10px; }

.btn-round {
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 24px;
  border-radius: 24px;
  text-align: center;
  cursor: pointer; }
  .btn-round_small {
    height: 18px;
    width: 18px;
    line-height: 16px;
    font-size: 16px; }
  .btn-round_delete {
    background-color: #f2dede;
    color: #dc3545; }
    .btn-round_delete::before {
      content: "×"; }
    .btn-round_delete:hover {
      background-color: #ebcccc; }
  .btn-round_minus::before {
    content: "–"; }
  .btn-round_plus::before {
    content: "+"; }
  .btn-round_event {
    background-color: #d9edf7;
    color: #0d6efd; }
    .btn-round_event:hover {
      background-color: #c4e3f3; }
  .btn-round_success {
    background-color: #dff0d8;
    color: #20c997; }
    .btn-round_success:hover {
      background-color: #c2e2b6; }
  .btn-round_avatar {
    margin-top: -10px;
    margin-left: -5px; }
    .btn-round_avatar::before {
      content: "а"; }
  .btn-round_disable {
    background-color: #ddd;
    color: #999;
    pointer-events: none; }

.btn-delete {
  position: absolute;
  margin-top: -5px;
  margin-right: -5px; }
.btn-photo {
  cursor: pointer; }

.tooltip {
  --bs-tooltip-bg: #444;
  --bs-tooltip-color: #fff;
  --bs-tooltip-font-size: 12px; }

.font-10 {
  font-size: 10px; }
.font-12 {
  font-size: 12px; }
.font-14 {
  font-size: 14px; }
.font-16 {
  font-size: 16px; }
.font-18 {
  font-size: 18px; }
.font-24 {
  font-size: 24px; }
.font-36 {
  font-size: 36px; }
.font-48 {
  font-size: 48px; }

.u-AhunterSuggestions {
  border: 1px solid #ccc;
  background: white;
  overflow: auto;
  border-radius: 4px;
  cursor: pointer; }
.u-AhunterSuggestion {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden; }
  .u-AhunterSuggestion:hover {
    background: #eee; }

.order-status {
  position: absolute;
  margin-left: 25px;
  padding: 10px 20px;
  display: none;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px; }

.oops {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center; }

#captcha_code {
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 9999; }

.discount_post {
  margin-left: 10px;
  position: absolute; }
.discount_product {
  margin-left: 20px; }
.discount__substrate {
  color: #dc3545; }
  .discount__substrate_product {
    font-size: 80px; }
  .discount__substrate_post {
    font-size: 50px; }
.discount__text {
  color: #fff;
  position: absolute;
  font-weight: bold; }
  .discount__text_product {
    font-size: 24px; }
  .discount__text_post {
    font-size: 16px; }

.categories img:hover {
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg); }

.linear-wipe {
  background: linear-gradient(to right, #dc3545 0%, #fd7e14 40%, #d63384 60%, #ffc107 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite; }
@keyframes shine {
  to {
    background-position: 200% center; } }
.info-block {
  padding: 40px 10px;
  text-align: center;
  border-radius: 6px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  border: 1px solid #ddd;
  background-color: #fff; }
  .info-block:hover {
    box-shadow: 0 0 10px #ccc; }
  .info-block p {
    margin-bottom: 20px; }
  .info-block img {
    width: 150px; }

@media only screen and (max-width: 359px) {
  h1 {
    font-size: 30px;
    margin-top: 20px; }

  .marker_h1::before {
    top: 28px;
    height: 8px; }
  .marker_h2::before {
    top: 22px;
    height: 8px; }
  .marker_h3::before {
    top: 22px;
    height: 8px;
    left: 3px; }
  .marker_h4::before {
    top: 20px;
    height: 8px; } }
@media only screen and (min-width: 360px) {
  h1 {
    font-size: 30px;
    margin-top: 20px; }

  .marker_h1::before {
    top: 30px;
    height: 8px;
    left: 2px; }
  .marker_h2::before {
    top: 22px;
    height: 8px; }
  .marker_h3::before {
    top: 22px;
    height: 8px;
    left: 3px; }
  .marker_h4::before {
    top: 20px;
    height: 8px; } }
@media only screen and (min-width: 411px) {
  h1 {
    font-size: 40px;
    margin-top: 20px; }

  h2 {
    font-size: 30px; }

  .marker_h1::before {
    top: 38px;
    height: 10px;
    left: 4px; }
  .marker_h2::before {
    top: 26px;
    height: 10px; }
  .marker_h3::before {
    top: 22px;
    height: 10px;
    left: 3px; } }
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    margin-top: 10px; }

  .marker_h1::before {
    top: 42px;
    height: 10px;
    left: 4px; }
  .marker_h2::before {
    top: 26px;
    height: 10px; }

  .info-block {
    margin-left: 0;
    margin-right: 0; } }
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 48px;
    margin-top: auto; }

  .marker_h2::before {
    top: 28px;
    height: 10px; }

  .info-block {
    margin-left: 20px;
    margin-right: -10px; } }
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 48px; }

  .marker_h1::before {
    top: 42px;
    height: 10px;
    left: 5px; }
  .marker_h2::before {
    top: 28px;
    height: 10px; }
  .marker_h3::before {
    left: 2px;
    top: 24px;
    height: 8px; } }
